@charset "utf-8";
/* ===================================================================
 style info : ヘッダーやフッターなどサイト内共通
=================================================================== */

#cam
{
	width:928px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	background-position:top left;
	background-repeat:no-repeat;
	height:280px;
	position:relative;
}

/*----------------------------------------------------
	header#globalHeader
----------------------------------------------------*/
header
{
	width:950px;
	margin:0 auto;
	padding:0 10px 0 10px ;
 	background-image: url(https://kentaroaso.github.io/kentaroaso/IMG_1237.jpeg);
	background-position:top left;
	background-repeat:repeat-y;
	position:relative;
}


/* グローバルナビゲーション
----------------------------------------------------*/
nav#mainnavi
{
	width:970px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	background-image:url(../img/mainnavi.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	height:63px;
	position:relative;
}
h1
{
	position:absolute;
	right:29px;
	/right:29px;
	top:63px;
}
#mainnavi a
{
	display:block;
	width:119px;
	background-image:url(../img/mainnavi.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	height:63px;
	outline:none;
	text-indent:-9999px;
}
#mainnavi li
{
	float:left;
}
#mainnavi li.list01 a{ background-position:0px top; width:130px}
#mainnavi li.list02 a{ background-position:-130px top; width:119px}
#mainnavi li.list03 a{ background-position:-249px top; width:119px}
#mainnavi li.list04 a{ background-position:-368px top; width:119px}
#mainnavi li.list05 a{ background-position:-487px top; width:119px}
#mainnavi li.list06 a{ background-position:-606px top; width:119px}
#mainnavi li.list07 a{ background-position:-725px top; width:119px}
#mainnavi li.list08 a{ background-position:-844px top; width:126px}

#mainnavi li.list01 a:hover,#mainnavi li.list01 a.selected{ background-position:-970px top;　width:130px}
#mainnavi li.list02 a:hover,#mainnavi li.list02 a.selected{ background-position:-1100px top; width:119px}
#mainnavi li.list03 a:hover,#mainnavi li.list03 a.selected{ background-position:-1219px top; width:119px}
#mainnavi li.list04 a:hover,#mainnavi li.list04 a.selected{ background-position:-1338px top; width:119px}
#mainnavi li.list05 a:hover,#mainnavi li.list05 a.selected{ background-position:-1457px top; width:119px}
#mainnavi li.list06 a:hover,#mainnavi li.list06 a.selected{ background-position:-1576px top; width:119px}
#mainnavi li.list07 a:hover,#mainnavi li.list07 a.selected{ background-position:-1695px top; width:119px}
#mainnavi li.list08 a:hover,#mainnavi li.list08 a.selected{ background-position:-1814px top; width:126px}

/*
----------------------------------------------------*/


/*----------------------------------------------------
	footer#globalFooter
----------------------------------------------------*/
footer
{
}
footer ul
{
	width:950px;
	margin:0 auto;
}
footer ul li
{
	display:inline;
}
#copyright
{
	padding-top:10px;
}

#copyright_low
{
	background-image: url("../img/footer_border.jpg");
    background-position: left top;
    background-repeat: repeat-x;
    height: 50px;
    padding-top: 10px;
}
#copyright p
{
	text-align:left;
	line-height:50px;
	padding-left:20px;
	color:#999999;
}

#copyright_low p
{
	line-height: 50px;
    text-align: center;
}
footer ul {
	width: 850px;
	text-align:center;
	color:#FFFFCC;
	padding-bottom:10px;
}
footer ul li {
	display: inline;
	margin-right: 10px;
	white-space: nowrap;
	line-height: 2;
	background:url(../img/int_list_submenu.png) left 4px no-repeat;
	padding-left:15px;
}
*:first-child + html footer ul li {
	float:left;
}
* html footer ul {
	overflow: hidden;
}
* html footer ul li {
	float:left;
}

/* copyright
----------------------------------------------------*/
