@charset "utf-8";
/* ===================================================================
 style info : ヘッダーやフッターなどサイト内共通
=================================================================== */

#cam
{
	width:928px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	background-position:top left;
	background-repeat:no-repeat;
	height:280px;
	position:relative;
}

/*----------------------------------------------------
	header#globalHeader
----------------------------------------------------*/
header
{
	width:950px;
	margin:0 auto;
	padding:0 10px 0 10px ;
	background-position:top left;
	background-repeat:repeat-y;
	position:relative;
}


/* グローバルナビゲーション
----------------------------------------------------*/
nav#mainnavi
{
	width:950px;
	margin:auto;
	height:auto;
	position:relative;
}
h1
{
	position:absolute;
	right:29px;
	/right:29px;
	top:63px;
}
#mainnavi a
{
	display:block;
	width:auto;
	background-position:top left;
	background-repeat:no-repeat;
	height:30px;
	outline:none;
	/*text-indent:/-9999px;*/
}
#mainnavi li
{
	float:left;
	padding:10px 26px;
	line-height:30px;
	text-align: center;
}
#mainnavi li.list01 a{width:120px}
#mainnavi li.list02 a{width:120px}
#mainnavi li.list03 a{width:40px}
#mainnavi li.list04 a{width:140px}
#mainnavi li.list05 a{width:40px}
#mainnavi li.list06 a{width:90px}

#mainnavi li.list01 a:hover,#mainnavi li.list01 a.selected{width:120px}
#mainnavi li.list02 a:hover,#mainnavi li.list02 a.selected{width:120px}
#mainnavi li.list03 a:hover,#mainnavi li.list03 a.selected{width:40px}
#mainnavi li.list04 a:hover,#mainnavi li.list04 a.selected{width:140px}
#mainnavi li.list05 a:hover,#mainnavi li.list05 a.selected{width:40px}
#mainnavi li.list06 a:hover,#mainnavi li.list06 a.selected{width:90px}

/*全部のボタンにカーソルが乗った時に適用している*/
.btn
{
  color: white;
  display: inline-block;
  border-radius: 4px;
}

/*
----------------------------------------------------*/


/*----------------------------------------------------
	footer#globalFooter
----------------------------------------------------*/
footer
{
}
footer ul
{
	width:950px;
	margin:0 auto;
}
footer ul li
{
	display:inline;
}
#copyright
{
	padding-top:10px;
}

#copyright_low
{
	background-image: url("../img/footer_border.jpg");
    background-position: left top;
    background-repeat: repeat-x;
    height: 50px;
    padding-top: 10px;
}
#copyright p
{
	text-align:left;
	line-height:50px;
	padding-left:20px;
	color:#999999;
}

#copyright_low p
{
	line-height: 50px;
  text-align: center;
}
footer ul {
	width: 950px;
	text-align:center;
	color:#FFFFCC;
	padding-bottom:10px;
	padding-top: 10px;
}
footer ul li {
	display: inline;
	margin-right: 10px;
	white-space: nowrap;
	background:url(../img/int_list_submenu.png) left 4px no-repeat;
	padding-left:15px;
	line-height:30px;
}
*:first-child + html footer ul li {
	float:left;
}
* html footer ul {
	overflow: hidden;
}
* html footer ul li {
	float:left;
}

/* copyright
----------------------------------------------------*/
