@charset "utf-8";
/* ===================================================================
 style info : コンテンツエリア関係 他

fonts
 10px = 77%     11px = 85%     12px = 93%     13px = 100%
 14px = 108%    15px = 116%    16px = 123.1%  17px = 131%
 18px = 138.5%  19px = 146.5%  20px = 153.9%  21px = 161.6%
 22px = 167%    23px = 174%    24px = 182%    25px = 189%
 26px = 197%
=================================================================== */

/*----------------------------------------------------
	共通
----------------------------------------------------*/
/* スクロールバーの有無によるズレ対策 */
html {
	overflow-y: scroll;
}

body {
	font: 100%/50px "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color:#fff;
	background-color:#000;

}

input, textarea {
	font: 75%/18px "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}

/* for IE6 */
* html body {
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
* html input, * html textarea {
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
/* リンク
----------------------------------------------------*/
a { color: #FFFFFF; }
a:visited { color: #ffffff; }
a:hover { color: #ffffff; }



/* よく使いそうなCSS3
----------------------------------------------------*/
#selectors {
/* 角丸 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

/* 角丸個別 */
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;

/* ボックスに影 */
	-webkit-box-shadow: 1px 1px 3px #999;
	-moz-box-shadow: 1px 1px 3px #999;
	box-shadow: 1px 1px 3px #999;

/* テキストに影 */
	text-shadow: 1px 1px 0px #999;
}

/* 汎用
----------------------------------------------------*/
/* clerfix */

.imgR {
	float: right;
	margin: 0 0 10px 10px;
}

.imgL {
	float: left;
	margin: 0 10px 10px 0;
}

.tC,
.btn {
	text-align: center;
}

.tR,
.sign {
	text-align: right;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
} /*IE7以外のモダンブラウザ向け*/

.clearfix{display:inline-block;} /*IE7およびMacIE5向け*/

/*Hides from IE-mac¥*/
* html .clearfix{height:1%;}
.clearfix{display:block;}
/*End hide from IE-mac*/ /*IE6以前向け*/

.hover a
{
	display:block;
}
.hover a:hover
{
	filter: alpha(opacity=60);
	opacity:0.6;
}
.centerbox a
{
	display:block;
}
.centerbox a:hover img
{
	filter: alpha(opacity=60);
	opacity:0.6;
}

.bt3{	margin-bottom:3px;}
.bt5{	margin-bottom:5px;}
.bt10{	margin-bottom:10px;}
.bt15{	margin-bottom:15px;}
.bt20{	margin-bottom:20px;}
.bt30{	margin-bottom:30px;}
.bt35{	margin-bottom:35px;}
.bt40{	margin-bottom:40px;}
.bt50{	margin-bottom:50px;}
.tp20{	padding-top:20px;}
.bt340{	margin-bottom:340px;}
.lt45{	margin-left:45px;}
.center{text-align:center;}
.right{	text-align:right;}
.left{	text-align:left;}
.form50{ width:50px;}
.form100{ width:100px;}
.form200{ width:200px;}
.form300{ width:300px;}
.form400{ width:400px;}
.form500{ width:500px;}
.form98par{ width:98%;}
.divL
{
	float:left;
}
.divR
{
	float:right;
}
.cen{
	margin:0 auto;
}

/*----------------------------------------------------
	#page（ページ全体）
----------------------------------------------------*/

#top
{
	color:#fff;
}
.content
{
	width:970px;
	padding-left:px;
	padding-right:px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
}
.content:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
} /*IE7以外のモダンブラウザ向け*/

.content{display:inline-block;} /*IE7およびMacIE5向け*/

/*Hides from IE-mac¥*/
* html .content{height:1%;}
.content{display:block;}
/*End hide from IE-mac*/ /*IE6以前向け*/


#top #maincontent
{
	float:left;
	width:525px;
	padding-right:20px;
}
#top #subcontent
{
	float:right;
	width:400px;
	padding: 40px 10px;
}

/*下層設定*/
/*
#low
{
	background-image:url(../img/content_bg.gif);
}
*/
#low .maincontent
{
	width:970px;
	background:url(../img/mainback_top_low.jpg) right 60px no-repeat #FFF;
	color:#000000;
	float:left;
}
#low aside#subcontent
{
	width:300px;
	float: right;
}
#low #subcontent .divL
{
	width:180px;
}
#low .maincontent h3
{
	background-color:#000;
}
/*----------------------------------------------------
	#header（ヘッダー）トップ
----------------------------------------------------*/
header h2{
	margin: 0 0 0 15px;
}
/*----------------------------------------------------
	#header（ヘッダー）下層
----------------------------------------------------*/
#low .maincontent a { color: #333333; }
#low .maincontent a:visited { color: #333333; }
#low .maincontent a:hover { color: #666; }
.btnpagetop img
{
	vertical-align:middle;
	margin-right:2px;
}
.btnpagetop
{
	text-align:right;
	border-bottom:1px dotted #333;
}
.btnpagetop a
{
	text-decoration:none;
}
.btnpagetop a:hover
{
	text-decoration:underline;
}
.btnpagetop a:hover img
{
	filter: alpha(opacity=60);
	opacity:0.6;
}
/*----------------------------------------------------
	#contents（メインとサイド）
----------------------------------------------------*/
#subcontent h4
{
	background-image:url(../img/h4_bg.jpg);
	background-position:left center;
	background-repeat:no-repeat;
	font-size:120%;
	line-height:130%;
	font-weight:bold;
	padding-left:25px;
	padding-top:3px;
}
#low .maincontent h4
{
	background-position:left center;
	background-repeat:no-repeat;
	font-size:120%;
	font-weight:bold;
	padding-top:2px;
}
#subcontent h5
{
	margin-bottom:10px;
}
#low #subcontent a:hover img{
	opacity:0.8;
	filter: alpha(opacity=80);/* ie 6,7 */
	-ms-filter: "alpha(opacity=80)"; /* ie 8 */
	-moz-opacity:0.8; /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.8;/* Safari 1.x */
	zoom:1;
	background: #fff;
}
#subcontent section
{
	padding-bottom:20px;
	border-bottom:1px dotted #E5E5E5;
	margin-bottom:20px;
}


#subcontent section.side_access
{
	border-top:3px solid #E4B76F;
	padding-top:7px;
	border-bottom: none;
}
#subcontent section.side_access .side_access_box
{
	margin-bottom: 14px;
}
#subcontent section.side_access .side_access_boxL
{
	float:left;
	width: 147px;
	padding-right:13px;
	padding-top: 9px;
}
#subcontent section.side_access .side_access_boxR
{
	float:right;
	width:140px;
}
#subcontent section.side_access dt
{
	clear: left;
	float: left;
	width:70px;
	margin-bottom: 5px;
	text-align: center;
	font-weight: bold;
}
#subcontent section.side_access dd
{
	margin-left: 70px;
	margin-bottom: 5px;
}


#subcontent section.banner
{
	padding-bottom:0px;
	margin-bottom:0px;
	border-bottom:none;
}

#subcontent section:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
} /*IE7以外のモダンブラウザ向け*/

#subcontent section{display:inline-block;} /*IE7およびMacIE5向け*/

/*Hides from IE-mac¥*/
* html #subcontent section{height:1%;}
#subcontent section{display:block;}

#subcontent .divL
{
	width:190px;
}
#treamsrk h4
{
	font-size:100%;
}
#subcontent .right
{
	margin-top:10px;
	margin-left:auto;
}
#subcontent .right a{
	margin-left:auto;
}

#subcontent .sidebanner{
	clear:both;
	position:relative;
	width:380px;
}
#subcontent .sidebanner ul li{
	float:left;
	width:180px;
	margin-right:20px;
	margin-bottom:18px;
	list-style-type:none;
	text-align:center;
}
#subcontent .sidebanner ul li.leftside{
	margin-right:0px;
}

#subcontent .sidebanner ul:after{
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:".";
	font-size:0.1em;
}

#subcontent .sidebanner ul{
	display:inline-block;
}

/*----------------------------------------------------
	#main（メインコンテンツ）
----------------------------------------------------*/
#kickboxing h4 {
	text-align: center;
	line-height: 150%;
}
#kickboxing h5 {
	text-align: center;
	line-height: 120%;
	background-position: left center;
    background-repeat: no-repeat;
    font-size: 120%;
    font-weight: bold;
    padding-top: 2px;
    border-bottom: 1px dotted #c2c2c2;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#kickboxing p {
	text-align: center;
	line-height: 150%;
}
#kickboxing p.left {
	text-align: center;
	line-height: 150%;
	margin-bottom: 10px;
}
.large
{
	font-size:100%;
	font-weight:bold;
	line-height:140%;
}
.darkyellow{
	color: #333300;
}
.underline{
	color:#666666;
	font-weight: bold;
	font-size: 14px;
	padding-bottom:10px;
	border-bottom:1px dotted #8E8E8E;
	margin-bottom: 10px;
}

#low #subcontent h3,#top h3
{
	margin-bottom:20px;
}
#topnews
{
	background:url(../../img/bg_whatsnew.jpg) top left no-repeat;
	height:530px;
	margin-bottom:14px;
}
#topnews #topnews_tolist
{
	padding-left:205px;
	padding-top:26px;
}
#topnews #topnews_topiclist
{
	width:444px;
	overflow: hidden;
	height: 470px;
}
#topnews dl dt {
	width: 85px;
	padding-left:15px;
	background-image:url(../img/list_trip.png);
	background-position:left 0.3em;
	background-repeat:no-repeat;
}
#topnews dl dd {
	padding-bottom:10px;
	padding-left:30px;
	background:url(../../img/line_news_li.png) left bottom no-repeat;
	margin-bottom:10px;
}
#photogallery
{
	background:url(../../img/bg_photo.jpg) top left no-repeat;
	height:265px;
}
#photogallery #photogallery_tolist
{
	padding-left:210px;
	padding-top:22px;
}
#photogallery #divbox
{
	width:520px;
	padding-left:10px;
}
#photogallery .divL198
{
	float:left;
	width:300px;
	padding-left:px;
}
#photogallery .divR251
{
	float:right;
	width:200px;
	text-align:left;
	padding-left:10px;
}

#movie
{
	background:url(../../img/bg_movie.jpg) top left no-repeat;
	height:265px;
}
#movie #movie_tolist
{
	padding-left:210px;
	padding-top:22px;
}
#movie #divbox
{
	width:525px;
	padding-left:10px;
	padding-top:px;
}
#movie .divL198
{
	float:left;
	width:300px;
	padding-right:px;
}
#movie .divR251
{
	float:right;
	width:200px;
	text-align:left;
	padding-left:10px;
	padding-top:10px;
}
/*代表あいさつ*/
#greeting
{
	background:url(/*元々は画像があった*/)top left no-repeat;
	height:180px;
	width: 396px;
	padding: 20px 0;
}
#greeting p.lead{
	padding-left:20px;
	padding-top:70px;
}
#about
{
	background:url(/*元々は画像があった*/) top left no-repeat;
	height:180px;
	padding: 20px 0;
}
#about p.lead{
	padding-left:20px;
	padding-top:70px;
}
#practice
{
	background:url(/*元々は画像があった*/) top left no-repeat;
	height:180px;
	padding: 20px 0;
}
#practice p.lead{
	padding-left:20px;
	padding-top:70px;
}
#blog
{
	background:url(/*元々は画像があった*/) top left no-repeat;
	height:180px;
	padding: 20px 0;
}
#blog p.lead{
	padding-left:20px;
	padding-top:70px;
}

#totop{
	width:930px;
	margin:0 auto;
	text-align:right;
	padding-right:20px;
}



#backin_access
{
	background:url(/*元々は画像があった*/) top left no-repeat;
	height:285px;
	width:930px;
	margin:0 auto;
	border-top:3px solid #E4B76F;
	line-height:2em;
	padding-left:10px;
}
#backin_access #boxL
{
	float:left;
	width:300px;
}
#backin_access #boxR
{
	float:right;
	width:510px;
	text-align:left;
}
#backin_access p#address
{
	padding-left:80px;
}
#backin_access dl
{
	font-size:11px;
	display:inline-block;
	padding: 20px;
}
#backin_access dt
{
	clear:left;
	float:left;
	text-align: center;
  width: 7em;
  font-size:10pt;
}
#backin_access dd
{
	margin-left:8em;
	padding-left:1em;
}

.trainer_section_left{
	float: left;
	width:200px;
	padding-right:15px;
}
.trainer_section_right{
	float: right;
	width:327px;
}




#low section.backin_access dl
{
	font-size:11px;
	display:inline-block;
}
#low section.backin_access dt
{
	clear:left;
	float:left;
	text-align: right;
  width: 7em;
}
#low section.backin_access dd
{
	background:url(../img/corron.gif) top left no-repeat;
	margin-left:8em;
	padding-left:1em;
}

#subcontent .sidebanner a{
	display:block;
	background-color:#FFF;
}

.btndetail a:hover img,#subcontent .right a:hover img,#subcontent .sidebanner a:hover img{
	filter: alpha(opacity=60);
	opacity:0.6;
}
h4
{
	margin-bottom:20px;
}

div.ul01 {
   position: relative;
   overflow: hidden;
}

.ul01:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
} /*IE7以外のモダンブラウザ向け*/

.ul01{display:inline-block;} /*IE7およびMacIE5向け*/

/*Hides from IE-mac¥*/
* html .ul01{height:1%;}
.ul01{display:block;}

div.ul01 ul {
   position:relative;
   left:50%;
   float:left;
}

div.ul01 li {
   position:relative;
   left:-50%;
   float:left;
   margin-right:20px;
   background-color:#FFF;
}
#admissionlist li {
   margin-right:15px;
}
ul.bnrlist{
	margin-bottom: 32px;
}
ul.bnrlist li{
	float:left;
	padding-right:1px;
}
ul.bnrlist li.last{
	padding-right:0;
}





.last
{
   margin-right:0 !important;
}
.wid270
{
	width:270px;
}
.wid77
{
	width:77px;
}

.borderimg
{
	border:2px solid #424242;
	padding:-4px;
}
.inner
{
	padding:20px;
	background:url(../img/mainback_under_low.jpg) left bottom no-repeat;
}
.inner:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
} /*IE7以外のモダンブラウザ向け*/

.inner{display:inline-block;} /*IE7およびMacIE5向け*/

/*Hides from IE-mac¥*/
* html .inner{height:1%;}
.inner{
	display:block;
}

.centervision .centerbox
{
	width:170px;
	margin-right:15px;
}
.centerbox
{
	float:left;
	width:165px;
	margin-right:20px;
}
.centerList{
	margin-bottom:20px;
}
.centerList:after,.centervision:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
} /*IE7以外のモダンブラウザ向け*/

.centerList,.centervision{display:inline-block;} /*IE7およびMacIE5向け*/

/*Hides from IE-mac¥*/
* html .centerList,* html .centervision{height:1%;}
.centerList,.centervision{display:block;}

.innerimg_l .divR,.innerimg_r .divL
{
	width:330px;
}
.innerimg_l,.innerimg_r
{
	margin-bottom:30px;
}
.table01{
	width:100%;
	border-top:1px solid #ccc;
	margin-bottom:10px;
}
.table01 th
{
	background-color:#E8E8E8;
	border-bottom:1px solid #ccc;
	padding:10px;
	vertical-align:middle;
}
.table01 td
{
	padding:10px;
	border-bottom:1px solid #ccc;
}
.table02{
	width:100%;
	border-top:1px solid #ccc;
	margin-bottom:10px;
}
.table02 th
{
	background-color:#E8E8E8;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:10px;
	vertical-align:middle;
}
.table02 td
{
	padding:10px;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	text-align:center;
	vertical-align:middle;
}
.table02 .rightNone
{
	border-right:none;
}


.bold
{
	font-weight:bold;
}
.leftimg
{
	margin-bottom:20px;
	margin-right:20px;

}
.mrl220
{
	margin-left:220px;
}
