@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  overflow-y: scroll;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input,
textarea {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

a:focus {
  outline: none;
}

/* Hides from IE Mac \*/
* html .cf {
  height: 1%;
}

.cf {
  display: block;
}

/* ========================================
フロートの解除
========================================= */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  clear: both;
}

.cf:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.cf {
  display: inline-block;
}

/* ========================================
	全体設計
========================================= */
body {
  color: #555;
  font-size: 15px;
  line-height: 1;
  font-family: "メイリオ", Meiryo;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-size: 18px;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

/* ========================================
　ウインドゥ幅に合わせた改行
========================================= */
.brsp {
  display: none;
}

@media screen and (max-width: 640px) {
  .brsp {
    display: block;
  }
}

/* ========================================
	ヘッダー
========================================= */
header {
  height: auto;
}

div#header_inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 20px 0;
}

header h1 {
  float: left;
}

@media screen and (max-width: 1000px) {
  div#header_inner {
    width: 95%;
  }
}

@media screen and (max-width: 640px) {
  header h1 {
    float: none;
    width: 100%;
    text-align: center;
  }
}

/* ========================================
	メインイメージ
========================================= */
div#main_image {
  width: 100%;
  max-width: 960px;
  height: auto;
  margin: 0 auto;
}

div#main_image img {
  width: 100%;
  min-width: 320px;
}

@media screen and (max-width: 640px) {
  div#main_image {
    overflow: hidden;
  }
}

/* ========================================
	セカンダリーイメージ
========================================= */
div#secondary_image {
  width: 100%;
  max-width: 960px;
  height: auto;
  margin: 100px auto 0 auto;
}

div#secondary_image img {
  width: 100%;
  min-width: 320px;
}

@media screen and (max-width: 640px) {
  div#secondary_image {
    overflow: hidden;
  }
}

/* ========================================
	コンテナー
========================================= */
#container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}

/* ========================================
	アバウト
========================================= */
#about {
  width: 100%;
  margin-top: 30px;
  text-align: left;
}

#about h2,
h3 {
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 1.8;
}

#about h2 {
  font-size: 27px;
}

#about h3 {
  font-size:22px;
}

#about p {
  font-size: 19px;
  line-height: 1.8;
  margin-top: 15px;
  margin-bottom: 15px;
}

#about img {
  width: 100%;
}

/* ========================================
	コンテンツボトム
========================================= */
#content-bottom {
  width: 100%;
  margin: 45px auto 0 auto;
}

/* ========================================
	レフト
========================================= */
div#left {
  width: 100%;
}

div#left ul li {
  background-color: #f0f3f8;
  margin-bottom: 15px;
  border: 1px solid #63abd4;
}

div#left ul li:hover {
  opacity: 0.7;
}

div#left ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  line-height: 1.7;
  display: block;
  padding-left: 50px;
}

a#icon_facebook {
  background: url(images/icon_facebook.png) no-repeat 14px center;
}

a#icon_instagram {
  background: url(images/icon_instagram.png) no-repeat 14px center;
}

a#icon_youtube {
  background: url(images/icon_youtube.png) no-repeat 14px center;
}

a#icon_blog {
  background: url(images/icon_blog.png) no-repeat 14px center;
}

/* ========================================
	フッター
========================================= */
footer {
  height: auto;
  margin-top: 50px;
}

div#footer_inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 20px 0;
}

footer h2 {
  float: left;
}

@media screen and (max-width: 1000px) {
  div#footer_inner {
    width: 95%;
  }
}

@media screen and (max-width: 640px) {
  footer h2 {
    float: none;
    width: 100%;
    text-align: center;
  }
}