.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

div.slideshow {
    position: relative;
}

div.slideshow ol {
    position: relative;
    list-style: none;
    display: block;
    margin: 0px;
    padding: 0px;
    border-style: none;
}

div.slideshow ol li {
    position: absolute;
    list-style: none;
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border-style: none;
}

div.slideshow ol li:first-child {
    visibility: visible;
}

div.slideshow ol li img {
    vertical-align: bottom;
    border-style: none;
}

div.slideshow ol li span {
    position: absolute;
    z-index: 100;
    right: 10px;
    bottom: 10px;
    display: block;
    padding: 2px 6px;
    background: #000000;
    color: #ffffff;
}

div.slideshow ol li span a {
    color: #e5e5e5;
}

div.slideshow ol li span a:hover {
    color: #ffffff;
}

div.slideshow div.mask {
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 0px;
    background: url(./img/ie_mouseover.gif) repeat;
    border-style: none;
}

div.slideshow div.panel {
    position: absolute;
    z-index: 1;
    display: none;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: transparent url(./img/bg_alpha.png) repeat;
    border-top: solid 1px #000000;
}

div.slideshow div.panel ul {
    list-style: none;
    display: block;
    width: 240px;
    margin: 0px auto;
    padding: 0px 0px 8px 0px;
    border-style: none;
}

* html div.slideshow div.panel {
    text-align: center;
    zoom: 1;
}

* html div.slideshow div.panel ul {
    margin: 0px;
}

div.slideshow div.panel ul:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

div.slideshow div.panel li {
    list-style: none;
    display: block;
    float: left;
    display: inline;
    /* for IE 6 */
    width: 38px;
    height: 18px;
    margin: 0px 2px 0px 0px;
    padding: 0px;
    color: #e5e5e5;
    border-style: none;
}

div.slideshow div.panel li span {
    display: none;
}

div.slideshow div.panel li.pause_to_play {
    background: url(./img/interface.gif) -120px -30px no-repeat;
}

div.slideshow div.panel li.pause_to_play:active {
    background: url(./img/interface.gif) -120px -60px no-repeat;
}

div.slideshow div.panel li.play_to_pause {
    background: url(./img/interface.gif) -120px 0px no-repeat;
}

div.slideshow div.panel li.play_to_pause:active {
    background: url(./img/interface.gif) -120px -90px no-repeat;
}

div.slideshow div.panel li.reverse_off {
    background: url(./img/interface.gif) -40px -30px no-repeat;
}

div.slideshow div.panel li.reverse_off:active {
    background: url(./img/interface.gif) -40px -90px no-repeat;
}

div.slideshow div.panel li.reverse_on {
    background: url(./img/interface.gif) -40px 0px no-repeat;
}

div.slideshow div.panel li.reverse_on:active {
    background: url(./img/interface.gif) -40px -60px no-repeat;
}

div.slideshow div.panel li.back {
    background: url(./img/interface.gif) -80px -30px no-repeat;
}

div.slideshow div.panel li.back:active {
    background: url(./img/interface.gif) -80px -60px no-repeat;
}

div.slideshow div.panel li.foth {
    background: url(./img/interface.gif) -160px -30px no-repeat;
}

div.slideshow div.panel li.foth:active {
    background: url(./img/interface.gif) -160px -60px no-repeat;
}

div.slideshow div.panel li.nombre {
    width: 78px;
    padding-top: 2px;
    text-align: center;
    background: #8e8f74 url(./img/interface.gif) 0px -120px no-repeat;
    color: #32322a;
    border-style: none;
}

div.slideshow div.panel p {
    line-height: 1.5;
}

div.slideshow div.panel p.info_disp {
    margin: 0px 0px 4px 0px;
    padding: 0px;
    text-align: center;
    color: #e5e5e5;
}

div.slideshow div.panel p.info_disp strong {
    display: block;
    padding: 6px 8px 4px 8px;
    font-weight: normal;
    cursor: pointer;
    border-style: none;
}

div.slideshow div.panel p.info_disp span.normal {
    margin-right: 4px;
    padding: 4px 8px;
    background: url(./img/signal.gif) 0px -30px no-repeat;
    border-style: none;
}

div.slideshow div.panel p.info_disp span.newWin {
    margin-right: 4px;
    padding: 4px 8px;
    background: url(./img/signal.gif) 0px 0px no-repeat;
    border-style: none;
}
