/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

.header h1 {
  font-size: 12px;
  color: #555555;
  padding-top: 5px;
  line-height: 1;
  height: 49px;

  & span {
    font-size: 33px;
    color: #734339;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
  }
}

.flex {
  flex-direction: row;
  flex-wrap: wrap;
}

.houses {
  &__item {
    flex-basis: 50%;
    margin-bottom: 60px;
  }
}

.popular {
  &__container {
    justify-content: space-between;
  }

  &__item {
    flex-basis: 47%;
  }
}

.travel {
  &__inner {
    padding: 50px;
  }
  &__texts,
  &__img {
    flex-basis: 47%;
  }

  &__texts {
    display: flex;
    align-items: flex-end;
  }
}

.footer {
  & .logo {
    justify-content: flex-start;
  }

  &__li {
    margin-left: 0;
    margin-right: 30px;
  }

  & h1 {
    font-size: 12px;
    color: #555555;
    padding-top: 5px;
    line-height: 1;
    height: 49px;
  
    & span {
      font-size: 33px;
      color: #734339;
      font-weight: bold;
      margin-top: 10px;
      display: inline-block;
    }
  }  
}
