html,body {
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
}

body {
  display: -ms-flexbox;
  display: flex;
  color: rgb(19, 12, 12);
}

h2, .lead {
    font-family: serif;
    text-shadow: 0.5px 0.5px 0 rgb(43, 163, 211), -0.5px 0.5px 0 rgb(223, 59, 214), 0.5px -0.5px 0 rgb(41, 162, 218),
    -0.5px -0.5px 0 rgb(218, 74, 175);
    margin-top: 3rem;
}

.lead {
  line-height: 40px;
}

#top-picture {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#top-logo {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}
    
.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}
    
.mt-md-3,
.my-md-3,
.mr-md-3 {
    margin-top: 1rem !important;
}

a,
a:focus,
a:hover {
  color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; 
  background-color: #fff;
  border: 0.05rem solid #fff;
}


.cover-container {
  max-width: 42em;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.cover-heading {
  margin-bottom: 20px;
}

