#top-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}

#k1 {
  background-image: url(https://kentaroaso.github.io/kentaroaso/images/k1wolf.jpeg);
  background-size: contain;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#k-1 {
  background-color: rgba(255, 255, 255, 0.9);
}

h2,
h3,
#btns,
.lead {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h2,
h3,
.lead {
  font-family: serif;
  font-weight: bold;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: orange;
  -webkit-text-fill-color: black;
}

h2 {
  margin-top: 100px;
}

h3.lead {
  font-size: 25px;
}

.btn.btn-info.btn-lg {
  margin: 30px;
  color: #fff;
}
